*{
    padding: 0;
    margin: 0;
    font-family:'Poppins', 'Roboto', sans-serif;
    
}

#myVideo {
    
    right: 0;
    bottom: 0;
    min-width:  100%;
    min-height: 100%;
    z-index: -1;
    position: absolute;
    
  }
  /*startheader style */
header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#1E2A38;
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    
}  
nav ul li{
    list-style-type: none; 
    margin:0 25px;
    display: inline;
} 
nav ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 3px;
}
.logo{
    width: 40px;
    margin-left: 20px;
   
} 
  /*add line under navbar */
nav ul li a:hover{
    border-bottom:3px solid #00A8E8;
    color:#00A8E8;
    
  }
  /*end header style */

  /*start footer style*/

  footer{
  
   background-color: #1E2A38;
  color: white;
  padding: 30px 40px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  
  
}
.social a{
    text-decoration: none;
    
}
.social p{
    margin-bottom: 15px;
   
}
.social a img {
    width: 30px;
    height: 30px;
    margin: auto 10px;
}
.phone img{
    width: 30px;
    height: 30px;
   margin: auto 20px;
}

/*end footer style*/

/* start home  page style*/
#home{
    
     background-color: rgba(30, 42, 56, 0.6);
     min-height: 100vh;
     position: relative;

}

#main{
   padding-top:15%;
    text-align: center;
    margin: 0 30%;
    color:#ffffff;
    padding-bottom: 10%;
    
}  
.content{
    background-color:rgba(255, 255, 255, 0.1);
    margin-bottom: 20px;
    border: 1px solid #00A8E8;
    padding: 20px;
    font-style: italic;
    font-size: 18px;
    border-radius: 20px;

}
.content2{
    background-color:rgba(255, 255, 255, 0.1);
    border: 1px solid #00A8E8;
    margin-bottom: 20px;
    padding: 20px;
    line-height: 2;
    font-weight: 200;
    font-size: 14px;
    border-radius: 20px;
}
.button{
    background-color:#00A8E8;
    font-weight: bold;
    border-radius: 10px;
    color: #ffffff;
    padding: 15px 30px;
    text-decoration: none;
   
}
.button:hover{
    background-color: #1E2A38;
    color:#ffffff;
}
/*end home page style*/

/* start register page style*/  
#registermain{
    background-color: #EDF1F5;
    color: #1E2A38;
    min-height: 100vh;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 10%;
    

}
.intro{
    text-align: center;
   
}
.myform{
   
      width: 600px;
      margin: 50px auto;
      background: #FFFFFF;
      padding: 30px;
      border: 1px solid #00A8E8;
      border-radius: 10px;
      
}
.intro h1{
    
     margin-bottom: 15px;
    
    
} 
.myform label{
       
      display: block;
      font-weight: 600;
      font-size: 16px;
      margin-top: 15px;
    
}
.myform input,select{
   
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      border: 1px solid #CCC;
      border-radius: 8px;
}
.myform select{
    background-color: #FFFFFF;
}


.myform button{

       background: #00A8E8;
      color: white;
      padding: 12px;
      margin-top: 20px;
      width: 100%;
      border: none;
      border-radius: 8px;
      font-weight: bold;
      font-size: 16px;
}
.myform button:hover{
    background-color:#1E2A38;
    color: #ffffff;
}
/*end register page style*/
/* start booking event style*/
#bookingpage{
    background-color: #EDF1F5;
    color: #1E2A38;
    min-height: 100vh;
    padding-top: 10%;
    padding-bottom: 10%;
    align-items: center;
}
.info{
    text-align: center;
}
.info h1{
    
    margin-bottom: 15px;


}
.data{
      width: 600px;
      margin: 50px auto;
      background: #FFFFFF;
      padding: 30px;
      border: 1px solid #00A8E8;
      border-radius: 10px;
      
}
.data label{
      display: block;
      font-weight: 600;
      font-size: 16px;
      margin-top: 15px;
}
.data input,select,textarea{
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      border: 1px solid #CCC;
      border-radius: 8px;
}
.data select{
    background-color: #FFFFFF;
}

.data textarea {
      resize: vertical;
      height: 100px;
    }

.data button{
     background: #00A8E8;
      color: white;
      padding: 12px;
      margin-top: 20px;
      width: 100%;
      border: none;
      border-radius: 8px;
      font-weight: bold;
      font-size: 16px;
}
.data button:hover{
    background-color:#1E2A38;
    color: #ffffff;
}

/*end booking event style*/


/*start contact us page*/
#contactus{
    
    background-color: #EDF1F5;
    color: #1E2A38;
    min-height: 100vh;
    padding-top: 10%;
    align-items: center;

}
#contactpage{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 40px 20px;
}
.information h1{
    text-align: center;
    margin-bottom: 20px;
}

.numbers{
    background-color: #FFFFFF;
    border: 1px solid #00A8E8;
    margin-bottom: 40px;
    width: 350px;
    border-radius: 10px;
    padding: 30px;
    
}
.address{
    background-color: #FFFFFF;
    border: 1px solid #00A8E8;
    width: 350px;
    border-radius: 10px;
    padding: 30px;
}
.hotline{
    background-color: #FFFFFF;
    border: 1px solid #00A8E8;
    width: 350px;
    margin-bottom: 40px;
    border-radius: 10px;
    padding: 30px;
}
.information ul{
    list-style-type: none;
    
}
.information h4{
    margin-bottom: 20px;
    font-weight: bold;
    text-decoration: underline #00A8E8;
}
.information li{
    margin: 8px;
    
}
.message{
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #00A8E8;
    width: 500px;
}
.message h3{
    text-align: center;
    margin-bottom: 20px;
    text-decoration: underline #00A8E8;
}

.message input, textarea{
    
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #CCC;
    border-radius: 8px;
    font-size: 14px;
    width: 100%;
}
.message form{
    display: block;
}
.message textarea {
      resize: vertical;
      height: 100px;
    }

.message button{
     background: #00A8E8;
      color: white;
      padding: 12px;
      margin-top: 20px;
      width: 100%;
      border: none;
      border-radius: 8px;
      font-weight: bold;
      font-size: 16px;
}
.message button:hover{
    background-color:#1E2A38;
    color: #ffffff;
}
.location iframe{
    width: 100%;
    height: 450px;
    border-radius: 12px;
    border: 0;

}
.location h3{
    margin-bottom: 20px;
    text-align: center;
    text-decoration: underline #00A8E8;
}
/*end contact us page*/

/*start history style */



#historymain {
  
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: #EDF1F5;
    color: #1E2A38;
    min-height: 100vh;
    width: 100%;

}
.discription h1{
    text-align: center;
    padding-bottom: 50px;

}
.switcher{
    display: flex;
    justify-content: center;
    gap: 15px;
    list-style-type: none;
    z-index: 10;
}
.switcher li{
    padding: 0 20px;
    font-size: 18px;
   
}
.switcher li:hover{
    border-bottom: 3px solid #00A8E8;
    color: #00A8E8;
}
.switcher li.active{
    border-bottom: 3px solid #00A8E8;
    color: #00A8E8;
}
.discription{
    padding-bottom: 100px;
}

.events{
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding-left: 15px;
    
    
}
.events .all{
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    height: 450px;

}
.events img{
    width: 300px;
    height: 220px;
    margin-bottom: 12px;
}
.events p {
    text-align:left;
    margin-bottom: 5px;
}
.events h5{
    color: #00A8E8;
    margin-bottom: 10px;
}
.events a button{
    
    background-color: #FFFFFF;
    border: 1px solid #00A8E8;
    padding: 10px;
    font-size: 14px;
    border-radius: 8px;

}

/*end history style*/

/*start calender style*/

#calendermain{
    background-color: #EDF1F5;
    color: #1E2A38;
    min-height: 100vh;
    padding-top: 10%;
    padding-bottom: 10%;
    
}

.container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 40px;
}

.calendar {
    background-color: #FFFFFF;
    border-radius: 10px;
    
    width: 550px;
    padding: 20px;
    height: 400px;
    border: 1px solid #00A8E8;
}

.header {
    display: flex;
    justify-content: space-between;
    
}

.header h2 {
    padding-top: 5px;
}
.weekdays{
    padding-top: 25px;
}

.header button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 18px;
}

.weekdays, .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 10px;
    text-align: center;
}

.weekdays div {
    font-weight: bold;
    color: #666;
}

.days div {
    padding: 10px;
    margin: 2px;
    background-color: #eaeaea;
    border-radius: 5px;
    position: relative;
    
}

.days div:hover {
    background-color: #3498db;
    color: white;
}

.day.has-event::after {
    content: '';
    width: 6px;
    height: 6px;
    background: #00A8E8;
    border-radius: 50%;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.event-panel {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 350px;
    border: 1px solid #00A8E8;
    
    
}

.event-panel h3 {
    text-align: center;
    padding: 30px 0;
}
.event-panel p{
    text-align: left;
    padding: 20px 0;
}

.event-panel input {
    width: 100%;
    padding: 10px 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}


.button-group button {
    background: #3498db;
    color: white;
    border: none;
    margin-top: 10px;
    width: 100%;
    padding: 10px 0; /* Use vertical padding for better vertical centering */
    border-radius: 4px;
    text-align: center; /* Ensures text is horizontally centered */
    display: flex;
    align-items: center;  /* Vertically centers text */
    justify-content: center; /* Horizontally centers text */
}
.highlight-today {
    
    font-size: 18px;
    font-weight: bold;
    color:#00A8E8;
    
}

/*end calender style*/